<div class="detail">
    <div class="detail-container">
        <div class="detail-main">
            <img id="main-img" src="../../img/<%= porto['imageArray'][0] %> " alt="" class="opacity-1">
        </div>
        <div class="detail-side">
            <% let value=1 %>
            <% porto['imageArray'].forEach(element => { %>
            <img src="../../img/<%= element %>" alt="" class="opacity-1" id="img-<%= value %>">
            <% value++ %> 
            <% }) %>
        </div>    
    </div>
    <h1><%= porto['name'] %></h1>
    <div class="detail-container text">
        <div class="detail-text">
            <%= porto['description'] %> 
            <h4>Technology used:</h4>
            
            <div class="detail-tech">
                <% porto['technologyArray'].forEach(element => { %>
                    <div class="detail-tech-item">
                        <img src="../img/<%= element %> " alt="">
                    </div>
                <% }) %>
            </div>
        </div>   
        <div class="detail-sub">
            <h3>Github Link:</h3>
            <a href="<%= porto["githubLink"] %>"><%= porto["githubLink"] %></a>
            <h3>Live Link:</h3>
            <a href="<%= porto["liveLink"] %>"><%= porto["liveLink"] %></a>
        </div>
    </div>
    
</div>
<script src="../js/nav.js"></script>
<script src="../js/detail.js"></script>
    